/* Add text shadow to banner text */
.hero-heading {
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

// Add a background color to the banner to let it stand out
#banner-p {
  display: inline-block;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.5rem;
  width: auto;
}

#navbarNav > ul > li > a {
  font-size: larger;
  color: $text-light;
}

// .theme-main-menu.menu-overlay {
//   background-color: red !important;
// }

// body {
//     color: red !important
// }
// Changes the background color of the feedback section
.feedback-section-six {
  background-color: $color-three;
}
// Changes the background image of the contact section
.fancy-banner-five {
  background: url(../images/es/confident-businesspeople-standing-in-office-2025-04-04-20-28-40-utc.jpg)
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.agent-section-one {
  padding-top: 5vw;
}

.logo-img {
  transition: transform 0.3s ease;
}

.logo-link:hover .logo-img {
  transform: scale(1.05);
}

.mod-span {
  color: $color-one;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

body {
  word-spacing: 3px;
}

#logo-img-tag {
  background-color: #ffffff;
  box-shadow: none;
}

#navbarNav2 > ul > li.nav-item > a {
  font-size: larger;
  color: $text-dark;
}

#contact-header {
  background-color: $color-two;
}
